body, html {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

.full-height {
  height: 100%;
}

.container {
  padding: 0 5px;
}

.subtitle {
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Hero */
nav.navbar {
 box-shadow:none;
}

.navbar-start {
  text-transform: uppercase;
  font-weight: bold;
}

.hero-body {
  margin: 0 auto;
  text-align: center;
}

#home .title {
  font-size: 52px;
}

h2.title {
  font-weight:normal;
}

/* Navbar */


.navbar-menu {
  margin: 0 auto !important;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%
}

.navbar {
  overflow: hidden;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

.active {
  color: orange;
}


/* #icons li a {
  position:relative;
} */

#icons li a > p {
  font-size: 16px;
  max-width: 0px;
  overflow: hidden;
  margin: 0 5px 0 0;
  /* line-height: 17px; */
  display:inline-block;
  /* position:absolute;
  bottom:0;
  right: 16px; */
}

#icons li a:hover > p {
  max-width: 230px;
  transition: max-width 1s linear;
}

/* About */
.flexy {
  display:flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.devicon {
  font-size: 30px;
  padding: 10px 30px;
}

#about ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#about ul li {
  width: 30%;
  margin: 10px 0;
  display: inline-block;
  /* margin: 5px 50px 15px 0; */
  text-align: center;
}

/* Projects */
.project {
  height: 250px;
  width: 400px;
  color:black;
  position: relative;
  transition: height 0.5s, width 0.5s;
  margin: 0 auto;
}

.background {
  position:absolute;
  top:0;
  bottom:0;
  width: 100%;
  height:100%;
  background-position: center;
  background-size: cover;
  z-index:-1;
  opacity: 0.5;
}

.description {
  padding: 10px;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  text-align: center;
}

.description > h2 {
  margin-bottom: 2px !important;
}

.description p > span {
  display:block;
}

.description p span > a {
  margin: 0 10px;
}

.project:hover {
  height: 300px;
  width: 450px;
  transition: height 0.5s, width 0.5s;
}

.project:hover .background {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.project:hover .description {
  opacity: 1;
  transition: opacity 0.5s;
}

#one {
  background-image: url('../images/tetris.jpg');
}

#two {
  background-image: url('../images/basicgram.jpg');
}

#three {
  background-image: url('../images/matedate.jpg');
}

#four {
  background-image: url('../images/nostalgiafy.jpg');
  background-position: left;
}

/* Voluntary */
#ctp {
  background-image: url('../images/changing-the-present.jpg');
}

#textbooks {
  background-image: url('../images/free-the-textbooks.jpg');
}

#leo {
  background-image: url('../images/leo-site.jpg');
}

/* Footer */
footer {
  margin-top: 20px;
}

footer ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer ul li p {
  display: inline-block;
  margin-left: 5px;
}

/* Media Queries */
@media only screen and (min-width: 1088px) {
  section {
    padding-top: 52px;
    height: 100vh;
    width: 100%;
  }
}
@media only screen and (max-width: 920px) {
  .project {
    height: 300px;
    width: 300px;
  }

  .project:hover{
    height: 350px;
    width: 350px;
  }
}


@media only screen and (max-width: 600px) {
  .hero-body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .project .background {
    opacity: 0.2;
  }

  .project .description {
    opacity: 1;
  }

  .project{
    height: 350px;
    width: 350px;
  }
}
