@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.otf") format("opentype"); }
@font-face {
  font-family: 'GilroyBold';
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0; }

body, html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 20px; }
  @media (min-width: 768px) {
    body, html {
      font-size: 24px; } }
  @media (min-width: 1024px) {
    body, html {
      font-size: 28px; } }
  @media (min-width: 1440px) {
    body, html {
      font-size: 32px; } }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Gilroy"; }

.close {
  font-family: "Gilroy"; }

.burger {
  position: absolute;
  top: 30px;
  right: 50px;
  transition: transform 0.5s ease-in-out;
  z-index: 10; }

.burger:hover {
  border-radius: 100%;
  transform: scale(1.4); }

.burger__line {
  width: 25px;
  height: 2px;
  margin: 5px 0;
  background-color: black;
  -webkit-transform: rotate(0deg);
  transition: transform 1s; }

.rotate1 {
  -webkit-transform: rotate(45deg) translateX(25%); }

.rotate2 {
  -webkit-transform: rotate(-45deg) translateX(21%) translateY(1px); }

.menu {
  width: 100vw;
  height: 0;
  display: flex;
  transition: all 1.5s ease;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; }

ul {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  list-style: none; }

li {
  margin: 24px;
  text-align: center;
  padding-left: calc(100vw + 10%);
  transition: all 1s ease-in-out;
  font-family: "GilroyBold"; }

.slideIn {
  padding-left: 0; }

.fadein {
  opacity: 1; }

.active {
  height: 90vh; }

.title {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-33deg, #ffd500 0%, #ffd500 50%, white 50%, white 100%);
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  -webkit-transform: rotate(-33deg) translateY(-20px);
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ffd500 0%, #ffd500 61%, white 61%, white);
  -webkit-background-clip: text;
  font-size: 150px;
  font-family: "GilroyBold", sans-serif;
  letter-spacing: 5px;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #333; }
  @media (min-width: 1440px) {
    h1 {
      font-size: 200px;
      background: linear-gradient(to bottom, #ffd500 0%, #ffd500 58%, white 58%, white);
      -webkit-background-clip: text; } }

h1:after {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAI0lEQVQYV2M0Njb+zwAFZ8+eZYSxQTQj+ZLIxqCzUeygniQAt8AMCLsFlyAAAAAASUVORK5CYII=) repeat;
  -webkit-text-stroke: 0px;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-clip: text;
  color: transparent; }

h1:before {
  content: 'But you can call me Katie';
  font: normal normal normal 20px / 1.6 "Gilroy";
  position: absolute;
  bottom: 0;
  padding-left: 2px;
  visibility: hidden; }
  @media (min-width: 1440px) {
    h1:before {
      visibility: visible; } }

.contact {
  background-color: #ffd500;
  padding: 200px 0; }
  .contact__details {
    width: 60%;
    height: 200px;
    background-color: white;
    border: 5px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative; }
    .contact__details p {
      position: relative;
      z-index: 1; }
      .contact__details p:before {
        content: '';
        position: absolute;
        top: 50%;
        background-color: #ffd500;
        height: 10px;
        left: 5%;
        width: 0;
        z-index: -1;
        opacity: .5;
        transition: width .5s ease-out; }
      .contact__details p:hover:before {
        width: 90%; }

/*# sourceMappingURL=style.css.map */
