html, body {
  align-items: center;
  background: #FFEFD5;
  display: flex;
  font: 40px 'Nunito', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.text {
  text-align: center;
}
