* {
  box-sizing: border-box;
}

html, body {
  background: #FFEFD5;
  color: #444;
  font: 40px 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.zdog-canvas {
  padding: 0;
  margin: auto;
  margin-top: calc((100vh - 400px)/ 2);
  display: block;
}

.text {
  text-align: center;
}

.speech {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  color: #444;
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
}

.speech::before {
  background-color: #444;
  border-radius: 20px;
  content: '';
  display: block;
  height: 10px;
  transform: rotate(-45deg);
  width: 3px;
}

.speech:hover {
  border: 2px solid red;
}
